<div id="<%= dom_id mural %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= mural.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= mural.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= mural.description %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this mural", mural, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this mural', edit_mural_path(mural), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
