<div class="w-full">

  <div class="mb-4">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Murals</h1>
      <%= link_to 'New mural', new_mural_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <div id="murals" class="w-full flex justify-center">
    <table class="flex flex-col w-full">
      <thead class="rounded-lg bg-stone-900">
        <tr class="flex">
          <th class="w-1/4">Name</th>
          <th class="w-1/4">Title</th>
          <th class="w-1/4">Created At</th>
          <th class="w-1/4">Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @murals.each do |mural, index| %>
        <tr class="flex w-full h-20 cursor-pointer hover:bg-stone-600 focus:outline-none focus:ring-2 focus:ring-stone-600 focus:ring-opacity-50">
          <td class="w-1/4 px-2 flex justify-start items-center text-orange-500"><%= "@#{mural.name}" %></td>
          <td class="w-1/4 px-2 flex justify-start items-center"><%= mural.title %></td>
          <td class="w-1/4 px-2 flex justify-center items-center"><%= mural.created_at %></td>
          <td class="w-1/4 px-2 flex justify-end items-center">
            <%= link_to '', mural_path(mural), class: "fa-solid fa-door-open" %>
            <%= link_to '', edit_mural_path(mural), class: "fa-regular fa-edit ml-4" %>
            <%= button_to '', mural, method: :delete, class: "fa-solid fa-trash ml-4" %>          
          </td>
        </tr>
      <%end%>
      </tbody>
    </table>
  </div>
</div>
